{% extends "global/Page.html" %}
{% load otree %}
<html>
{% block content %}

<style>
zoomed {
    zoom: 1.2;
    -moz-transform: scale(1.2);
    -moz-transform-origin: 0 0;
}
</style>

<zoomed>
<div class="card">
  <div class="card-header">
    Question
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
<!--      <big><big><big><big>-->

    Good morning! Please be sure to fill out the entire survey!

    Press "Next" to begin today's survey!

        <center>{% next_button %}</center>

<!--    </big></big></big></big>-->
      <footer class="blockquote-footer">Question 0/4</footer>
    </blockquote>
  </div>
</div>


<center>
<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h7 class="card-title"><b>Help</b></h7>
    <p class="card-text">Contact <i>Cora Orway</i> at 617-606-3452 if having any issues.</p>
    <a href="tel:732-675-1910" class="btn btn-primary">Call Cora</a>
  </div>
</div>
</center>

<!--<div class="footer">-->
<!--    <div class="container">-->
<!--        <big><big><big><big>-->
<!--        <p>Contact Cora Orway at 123-456-7890 if having any issues.</p>-->
<!--        </big></big></big></big>-->

<!--    </div>-->
<!--</div>-->

{% endblock %}
</zoomed>

</html>