{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
{% endblock %}

{% block content %}

   <table class="table table-light">
      <!--Create table for activities-->
      <thead>
         <tr>
            <th scope="col">Unlikely</th>
            <th scope="col"></th>
            <th scope="col">Neutral</th>
             <th scope="col"></th>
            <th scope="col">Very Likely</th>
         </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ form.info3.label }}</td>
                {% for choice in form.info3 %}
                <td>{{ choice }}</td>
                {% endfor %}
</tr>
      </tbody>

   </table>

    {% next_button %}

    Page 3/5
{% endblock %}