{% extends "global/Page.html" %}
{% load otree %}

{% block content %}

<div class="card">
  <div class="card-header">
    Question
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <big><big><big><big>

    {% formfields %}

    {% next_button %}

    </big></big></big></big>
      <footer class="blockquote-footer">Question 1/4</footer>
    </blockquote>
  </div>
</div>



<div class="card text-center" style="width: 18rem;">s
  <div class="card-body">
    <h7 class="card-title">Help</h7>
    <p class="card-text">WContact Cora Orway at 123-456-7890 if having any issues.</p>
    <a href="tel:732-675-1910" class="btn btn-primary">Call Cora</a>
  </div>
</div>

<div class="footer">
    <div class="container">
        <big><big><big><big>
        <p>Contact Cora Orway at 123-456-7890 if having any issues.</p>
        </big></big></big></big>

    </div>
</div>

{% endblock %}