{% extends "global/Page.html" %}
{% load otree %}
<html>
{% block content %}

<style>

.otree-timer {
    display: none;
}

zoomed {
    zoom: 1.2;
    -moz-transform: scale(1.2);
    -moz-transform-origin: 0 0;
}
</style>

<zoomed>
<div class="card">
  <div class="card-header">
    Question
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
<!--      <big><big><big><big>-->

    {% formfields %}

        <center>{% next_button %}</center>

<!--    </big></big></big></big>-->
      <footer class="blockquote-footer">Question 1/4</footer>
    </blockquote>
  </div>
</div>


<script type="text/javascript">
var thedate   = new Date();
var dayofweek = thedate.getUTCDay();
var hourofday = thedate.getUTCHours();
function onAir()
{
// return TRUE if it's Mon through Sat, 3a-6a UTC
if (dayofweek != 0 &&
((hourofday == 3))) {
return true;
}
return false;
}
</script>

    <script type="text/javascript">
if (onAir()) {
document.write("<h2>ON THE AIR</h2>");
} else {
document.write("<h2>OFF THE AIR</h2>");
}
</script>

<center>
<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h7 class="card-title"><b>Help</b></h7>
    <p class="card-text">Contact <i>Cora Orway</i> at 123-456-7890 if having any issues.</p>
    <a href="tel:732-675-1910" class="btn btn-primary">Call Cora</a>
  </div>
</div>
</center>

<!--<div class="footer">-->
<!--    <div class="container">-->
<!--        <big><big><big><big>-->
<!--        <p>Contact Cora Orway at 123-456-7890 if having any issues.</p>-->
<!--        </big></big></big></big>-->

<!--    </div>-->
<!--</div>-->

{% endblock %}
</zoomed>

</html>