{% extends "global/Page.html" %}
{% load otree %}
<html>
{% block content %}

<style>
    .otree-timer {
    display: none;
}
zoomed {
    zoom: 1.0;
    -moz-transform: scale(1.0);
    -moz-transform-origin: 0 0;
}
</style>

<zoomed>
<div class="card">
  <div class="card-header">
    Question
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
<!--      <big><big><big><big>-->

<!--    <table class="table table-light">-->
<!--      &lt;!&ndash;Create table for activities&ndash;&gt;-->
<!--      <thead>-->
<!--         <tr>-->
<!--             <th scope="col"></th>-->
<!--             <th scope="col">Unlikely</th>-->
<!--             <th scope="col">Not Likely</th>-->
<!--             <th scope="col">Neutral</th>-->
<!--             <th scope="col">Likely</th>-->
<!--             <th scope="col">Very Likely</th>-->
<!--         </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--          <tr>-->
<!--            <td></td>-->
<!--                -->
<!--          </tr>-->
<!--      </tbody>-->

<!--   </table>-->

<center>
    {% formfields %}
</center>

    <center>{% next_button %}</center>

<!--    </big></big></big></big>-->
      <footer class="blockquote-footer">Question 3/4</footer>
    </blockquote>
  </div>
</div>


<center>
<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h7 class="card-title"><b>Help</b></h7>
    <p class="card-text">Contact <i>Cora Orway</i> at 617-606-3452 if having any issues.</p>
    <a href="tel:617-373-5236" class="btn btn-primary">Call Cora</a>
  </div>
</div>
</center>

<!--<div class="footer">-->
<!--    <div class="container">-->
<!--        <big><big><big><big>-->
<!--        <p>Contact Cora Orway at 123-456-7890 if having any issues.</p>-->
<!--        </big></big></big></big>-->

<!--    </div>-->
<!--</div>-->

{% endblock %}
</zoomed>

</html>